@import "normalize.css";
@import "compass";
@import "compass/layout/sticky-footer";
//Sticky Footer
@include sticky-footer(100px, ".wrap", "#wrapFooter", "#mainFooter");

$widthMain: 65%;  //orig=70%
$widthSide: 25%;
$corner: 5px;
$mainType: #303a46;
$accent: #76c672;
$shadowz: #767676;
$link: #3f3a6e;
$headers: #344059;
$eduyellow: #ddc067; //dont use. use eduyellow2
$eduyellow2: #caac5d;
$link2: #4a4482;
$link4: #386eb0;
$link3: #888780;
$edu4: #827C60;
$edu3: #717D9D;
$edu2: #989B8E; 
$edu1: #adbebc;  //#adbebc  #9BABA9;
$gradientStart: #e7eddb;  //#edead3;
//$link3: #827c6d; original
$button: #b9b8c2;
$footerHeight: 30px;
$maxWidth: 80%;

// $mainColor: #373d45;
//$mainColor: #344059;

$mainColor: #373d45;
//$edu1: #31214c;
$neutral: #fbffff; //fffefb
$neutral2: #f0f0f0;

@mixin space {
    margin-top: 1.5em;
    clear: both;
}

@mixin smallSpace {
    margin-top: .7em;
    clear: both;
}

@mixin typeserif {
	font-family: 'Droid Serif', serif;
}

@mixin typesans {
	font-family: 'Droid Sans', sans-serif;
}

@mixin box-emboss($opacity, $opacity2){
    box-shadow:white($opacity) 0 1px 0, inset black($opacity2) 0 1px 0;
}

@mixin transitions {
	transition:all .25s ease-in-out; 
    -o-transition:all .25s ease-in-out; 
    -moz-transition:all .25s ease-in-out; 
    -webkit-transition:all .25s ease-in-out;
}

@mixin colorTrans {
    -webkit-transition: color .25s ease-out;
    -moz-transition: color .25s ease-out;
    -o-transition: color .25s ease-out;
    transition: color .25s ease-out;
}

@mixin gradientz {
    background: #c9b37c; /* Old browsers */
    background: -moz-linear-gradient(top,  #c9b37c 0%, #caac5d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9b37c), color-stop(100%,#caac5d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #c9b37c 0%,#caac5d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #c9b37c 0%,#caac5d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #c9b37c 0%,#caac5d 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #c9b37c 0%,#caac5d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9b37c', endColorstr='#caac5d',GradientType=0 ); /* IE6-9 */
}

.riskrewardgradient {
    background: $gradientStart; /* Old browsers */
    background: -moz-linear-gradient(top,  $gradientStart 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$gradientStart), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $gradientStart 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $gradientStart 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $gradientStart 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $gradientStart 0%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gradientStart', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

// Inset shadow
.insetshadow {
 -moz-box-shadow: inset 0 0 8px #dedfdb;
 -webkit-box-shadow: inset 0 0 8px #dedfdb;
 box-shadow: inset 0 0 8px #dedfdb;
}

.outershadow {
    box-shadow: -3px 6px 30px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: -3px 6px 30px rgba(0, 0, 0, 0.55);
    -o-box-shadow: -3px 6px 30px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: -3px 6px 30px rgba(0, 0, 0, 0.55);
}

.lettershadow {
    box-shadow: -3px 6px 30px rgba(0, 0, 0, 0.55), #f3cb68 0 0 180px inset;
    -moz-box-shadow: -3px 6px 30px rgba(0, 0, 0, 0.55), #f3cb68 0 0 180px inset;
    -o-box-shadow: -3px 6px 30px rgba(0, 0, 0, 0.55), #f3cb68 0 0 180px inset;
    -webkit-box-shadow: -3px 6px 30px rgba(0, 0, 0, 0.55), #f3cb68 0 0 180px inset;
}

.noshadow {
    box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -webkit-box-shadow: none;
}

@function black($opacity){
    @return rgba(0,0,0,$opacity)
}

@function white($opacity){
    @return rgba(255,255,255,$opacity)
}

@function statushead($opacity){
    @return rgba(255,255,255,$opacity)
}

.trans {
	transition:all .25s ease-in-out; 
    -o-transition:all .25s ease-in-out; 
    -moz-transition:all .25s ease-in-out; 
    -webkit-transition:all .25s ease-in-out;
}

.gradientz {
    background: #c9b37c; /* Old browsers */
    background: -moz-linear-gradient(top,  #c9b37c 0%, #caac5d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9b37c), color-stop(100%,#caac5d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #c9b37c 0%,#caac5d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #c9b37c 0%,#caac5d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #c9b37c 0%,#caac5d 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #c9b37c 0%,#caac5d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9b37c', endColorstr='#caac5d',GradientType=0 ); /* IE6-9 */
}

.one-edge-shadow {
    -webkit-box-shadow: 0 8px 6px -6px #b3b29f;
       -moz-box-shadow: 0 8px 6px -6px #b3b29f;
            box-shadow: 0 8px 6px -6px #b3b29f;
}
